nav {
    width:730px;
    margin: 0 auto;
    background:#dddddd;
}
nav ul {
    margin:0;
    padding:0;
    height:50px;
    list-style:none;
}
nav ul li {
    float:left
}
nav ul li a {
    /*color:#ffffff;*/
    display:block;
    height:50px;
    line-height:50px;
    padding: 0 30px;
    text-decoration:none;
}
a:hover { color:#d34d43 }

h5 {margin: 40px 670px;}
div {
    width:415px;
    margin: -35px auto;
    background:#dddddd;
}
div ul {
    margin:0;
    padding:0;
    height:40px;
    list-style:none;
}
div ul li {
    float:left
}
div ul li a {
    color:#ff7700;
    display:block;
    height:40px;
    line-height:40px;
    padding: 0 20px;
    text-decoration:none;
}